body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 3%;
  background-color: rgb(230, 180, 173);
  color: black;
}

.nav-item {  
  font-size: 22px;
  font-weight: 700;
  padding: 1%;
  margin:2%;
  text-decoration: none;
  color: white;
}

#main-nav {
  margin-left: 0px;
  font-size: 40px;
}

.button {
  padding:15px;
  margin: 10px;
  background-color: rgb(235, 140, 140);
  color: white;
  height: 70px;
  font-size: 20px;
  border-radius: 25px;
}

#habitat {
  background-color:rgb(230, 180, 173);
  padding: 15px;
  margin: 20px;
  border-radius: 25px;
}
