body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 3%;
  background-color: rgb(235, 191, 163);
  color: black;
}

.nav-item {  
  font-size: 22px;
  font-weight: 700;
  padding: 1%;
  margin:3%;
  text-decoration: none;
  color: rgb(72, 118, 66);
  background-color:rgb(207, 237, 190);
}

#main-nav {
  margin-left: 0px;
  font-size: 40px;
  color: white;
  background-color:rgb(235, 191, 163);
}

.small-nav {
  font-size: x-small;
  background-color:rgb(247, 211, 189);
  color:rgb(201, 120, 101);
}

.button {
  padding:15px;
  margin: 10px;
  background-color: rgb(225, 170, 136);
  color: white;
  height: 70px;
  font-size: 20px;
  border-radius: 25px;
}

#habitat {
  background-color:rgb(225, 170, 136);
  padding: 15px;
  margin: 20px;
  border-radius: 25px;
}
#animals-container {
  margin: auto;
}

.animal {
  padding: 15px;
  margin: 20px;
  border-radius: 25px;
  width: 30%;
}

#active-animal {
  background-color:rgb(180, 233, 185);
}

#inactive-animal {
  background-color:rgb(250, 161, 141);
}

#homepage {
  margin: auto;
  width: 70%;
  background-color: rgb(225, 170, 136);
  color: white;
  padding: 30px;
  margin-top: 10%;
  font-size:x-large;
  text-align: center;
}

.home-button {
  width: 90%;
  margin: 30px;
  height: 60px;
  font-size: large;
  background-color:rgb(173, 205, 154);
  color: white;
}

a {
  color: white;
}

.form {
  width: 300px;
  margin: auto;
  font-size:x-large;
  background-color:rgb(178, 235, 173);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 3%;
  border-radius: 20px;
}

#form-title {
  text-align: center;
}
