body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 3%;
  background-color: rgb(235, 191, 163);
  color: black;
}

.nav-item {  
  font-size: 22px;
  font-weight: 700;
  padding: 1%;
  margin:3%;
  text-decoration: none;
  color: rgb(72, 118, 66);
  background-color:rgb(207, 237, 190);
}

#main-nav {
  margin-left: 0px;
  font-size: 40px;
  color: white;
  background-color:rgb(235, 191, 163);
}

.small-nav {
  font-size: x-small;
  background-color:rgb(247, 211, 189);
  color:rgb(201, 120, 101);
}

.button {
  padding:15px;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(129, 171, 208);
  color: white;
  font-size: 16px;
  border-radius: 25px;
}

.delete {
  background-color: rgb(213, 91, 91);
}

.habitat {
  background-color:rgb(249, 199, 141);
  padding: 15px;
  margin: auto;
  margin-bottom: 3%;
  border-radius: 25px;
  width: 80%;
  text-align: center;
}
.habitat h2 {
  color:steelblue;
}

#animals-container {
  margin: auto;
}

.animal {
  padding: 15px;
  margin: auto;
  margin-bottom: 1%;
  border-radius: 25px;
  width: 70%;
}

.active-animal {
  background-color:rgb(162, 244, 170);
}

.inactive-animal {
  background-color:rgb(250, 161, 141);
}

#homepage {
  margin: auto;
  width: 70%;
  background-color: rgb(225, 170, 136);
  color: white;
  padding: 30px;
  margin-top: 10%;
  font-size:x-large;
  text-align: center;
}

.home-button {
  width: 90%;
  margin: 30px;
  height: 60px;
  font-size: large;
  background-color:rgb(173, 205, 154);
  color: white;
}

a {
  color: white;
}

.form {
  width: 20%;
  margin: auto;
  text-align: center;
  font-size: small;
  background-color:rgb(233, 227, 158);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 3%;
  margin-bottom: 20px;
  margin-top: 30px;
  border-radius: 20px;
}

.habitat-form {
  background-color: rgb(191, 207, 249);
  width: 72%;
  margin-bottom: 5%;
}

.sort {
  margin: auto;
  margin-bottom: 3%;
  margin-top: 3%;
  background-color:silver;
  width: 20%;
  padding: 5px;
  padding-bottom: 20px;
  border-radius: 25px;
  text-align: center;
}
